html, body, #app {
    margin: 0;
    padding: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
}

div#BG {
	height: 100%;
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
    z-index: 0;
}

/* 왼쪽 배경 */
div#leftBG {
    height: 100%;
    width: 50%;
    background-color: #F5F6FA; /* 연한 배경색 */
	display: flex;
	align-items: center;
}

div#leftBar{
	position: absolute;
	left: 30px;
	width: 30px;
	height: 35%;
	border-radius: 20px;
	background-color: #31363F;
}

/* 오른쪽 배경 */
div#rightBG {
    height: 100%;
    width: 50%;
    background-color: #31363F; /* 어두운 배경색 */
	display: flex;
	align-items: center;
}

div#rightBar{
	position: absolute;
	right: 30px;
	width: 30px;
	height: 35%;
	background-color: #F5F6FA;
	border-radius: 20px;
}

div#centerBG {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column;
	align-items: center;
	z-index: 1;
}


div#topBG {
	position: relative;
	height: 50%;
	width: 35%;
	background-color: #F5F6FA;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

div#bottomBG {
	position: relative;
	height: 50%;
	width: 35%;
	background-color: #31363F;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

div#margin {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
	align-items: center;
	justify-content: center;
	z-index: 2;
}

div#border {
	min-width: 1540px;
	min-height: 830px;
	width: 75%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	background-color: black;
}

div#contents {
	width: 96%;
	height: 92%;
	border-radius: 40px;
	background-color: #FFFFFF;	
}

svg#topParticle {
	position: absolute;
	top: 10px;
	right: 145px;
}


svg#bottomParticle {
	position: absolute;
	bottom: 10px;
	left: 145px;
}

svg#topBall {
	position: absolute;
	top: 20px;
	right: 40px;
}

svg#bottomBall {
	position: absolute;
	bottom: 20px;
	left: 40px;
}

div#loginBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

p#login {
	color: #848484;
	text-align: center;
	font-family: Inter, sans-serif; /* 폰트가 적용되지 않을 경우를 대비한 대체 폰트 */
	font-size: 96px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 50px;
	padding-left: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, font-weight 0.3s ease; /* 부드러운 전환 효과 */
}

p#login:hover {
    transform: scale(1.05); /* 크기 5% 확대 */
    font-weight: 500; /* 폰트 두께 증가 */
}


div#menuBox {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div#lanButton {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	border-radius: 10px;
	width: 160px;
	height: 50px;
	bottom: 30px;
	right: 30px;
	font-size: 17px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
	background: #357ABD;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 기본 상태에서 그림자 없음 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

div#lanButton:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); /* 호버 시 더 깊은 그림자 */
    transform: translateY(-2px); /* 살짝 위로 이동 */
}

ul#gameMenu{
	width: 100%;
	height: 50%;
	text-align: center;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items:flex-end;
	padding-left: 10%;
	padding-right: 10%;
}

li.gameMode{
	margin-left: 1%;
	margin-right: 1%;
    width: 280px;
    height: 230px;
    font-size: 2.7rem;
    border-radius: 50px;
    color: white;
    cursor: pointer;
	text-align: center;
	background: linear-gradient(to bottom right, #5A5D6A, #31363F);
	display: flex;
	align-items: center; 
	justify-content: center;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 기본 상태에서 그림자 없음 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

li.gameMode:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* 호버 시 더 깊은 그림자 */
    transform: translateY(-5px); /* 살짝 위로 이동 */
}

ul#userMenu{
	width: 100%;
	height: 30%;
	text-align: center;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 40px;
}

li.showInfo{
	margin-left: 1%;
	margin-right: 1%;
    width: 160px;
    height: 150px;
	border-radius: 50%;
    font-size: 1.8rem;
    color: #31363F;
    cursor: pointer;
	text-align: center;
	display: flex;
	align-items: center; 
	background-color: #F5F6FA;
	justify-content: center;
	border-bottom: 2px solid #31363F;
	border-right: 1px solid #31363F;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 기본 상태에서 그림자 없음 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

li.showInfo:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 마우스를 올렸을 때 그림자 효과 */
    transform: translateY(-5px); /* 위로 5px 이동 */
}

div#friendsBox {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#friendsWindow{
	margin-top: 1%;
	width: 60%;
	height: 90%;
	border-radius: 50px;
	background-color: rgba(90, 93, 106, 0.05);
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#friendsMenu {
	margin-top: 15px;
	margin-right: 0;
	width: 80%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

p#friendsMenu {
	font-weight: 900;
	color:#31363F;
    font-size: 2.5rem;
    width: 300px;
    height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#friendsEdit {
	width: 80%;
	height: 20%;
	display: flex;
}

div.friendsEdit{
	border-radius: 30px;
	width: 140px;
	height: 70px;
    font-size: 1.8rem;
	font-weight: 600;
	color: #848484;
	text-align: center;
    cursor: pointer;
	display: flex; /* Flexbox 활성화 */
	align-items: center; /* 수직 중앙 정렬 */
	justify-content: center; /* 수평 중앙 정렬 */
	transition: background-color 0.3s ease; /* 배경색 전환을 부드럽게 */
}

div.friendsEdit:hover {
    background-color: #4B4E5A; /* 마우스를 올렸을 때의 배경색 */
    color: white; /* 선택 사항: 텍스트 색 변경 */
}

div#friendsBody{
	margin-top: 10px;
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
}

div#friendsList{
	margin-right: 20px;
	border-radius: 20px;
	background-color: rgba(70, 73, 86, 0.1);
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#addDiv{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

div#friendsInfo{
	border-radius: 20px;
	background-color: rgba(70, 73, 86, 0.1);
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

ul#friendsLists{
	margin-top: 10px;
	width: 90%;
	height: 90%;
	max-height: 90%; /* 최대 높이를 설정하여 스크롤을 활성화 */
	overflow-y: auto; /* 세로 스크롤 활성화 */
	text-align: center;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* 리스트 항목을 위쪽으로 정렬 */
	align-items: center;
	padding-left: 0;
}

li.fList{
	margin-top: 2%;
	margin-bottom: 2%;
    width: 80%;
    height: 10%;
	font-weight: 700;
    font-size: 1.7rem;
    color: #31363F;
    cursor: pointer;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;	
}

li.fList:hover {
	color: #f10000; /* 마우스를 올렸을 때 변경될 글자 색 */
}

div#onlineInfo {
	margin-top: 30px;
	position: relative;
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#online{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	position:absolute;
	top: 10px;
	background-color: rgb(52, 240, 86);
	left: calc(30%);
}

div#offline{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	position:absolute;
	top: 10px;
	background-color: rgb(116, 116, 116);
	left: calc(30%);
}

div#friendNick{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 2.3rem;
	font-weight: 700;
	color:#31363F;
	flex-shrink: 1; /* 플렉스 항목이 축소되도록 설정 */
}

div#friendImage {
	width: 70%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img#friendImage {
	border-radius: 30px;
	width: 90%;
	height: 90%;
}

div#friendBottom {
	width: 80%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

div.goProfile {
	margin-right: 15px;
	border-radius: 20px;
	width: 37%;
	height: 80%;
	font-size: 1.5rem;
	font-weight: 600;
	color: #31363F;
	text-align: center;
    cursor: pointer;
	display: flex; /* Flexbox 활성화 */
	align-items: center;
	justify-content: center; /* 수평 중앙 정렬 */
}

div.goProfile:hover {
	background-color: #4B4E5A; /* 마우스를 올렸을 때의 배경색 */
    color: white; /* 선택 사항: 텍스트 색 변경 */
}

div.removeFriend {
	margin-left: 15px;
	border-radius: 20px;
	width: 37%;
	height: 80%;
	font-size: 1.5rem;
	font-weight: 600;
	color: #31363F;
	text-align: center;
    cursor: pointer;
	display: flex; /* Flexbox 활성화 */
	align-items: center;
	justify-content: center; /* 수평 중앙 정렬 */
}

div.removeFriend:hover {
    background-color: #4B4E5A; /* 마우스를 올렸을 때의 배경색 */
    color: white; /* 선택 사항: 텍스트 색 변경 */
}


div#search {
	width: 70%;
	display: flex;
	justify-content: right;
	align-items: center;
	height: 100%;
}

div#inputBox {
	width: 180px;
	height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


input#searchInput {
	width: 200px;
	height: 50px;
	margin-right: 40px;
}

.search-results {
	margin-top: 30px;
	margin-right: 40px;
	border: 1px solid #ccc;
	max-height: 60px;
	overflow-y: auto;
	width: 205px;
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 1;
}

.search-result-item {
	padding: 8px;
	cursor: pointer;
}

.search-result-item:hover {
	background-color: #f0f0f0;
}


img#addInputImage {
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

img#addInputImage:hover {
	transform: scale(1.1); /* 이미지를 10% 확대 */
}

div#defaultImgBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img#friendDefaultImg {
	width: 50%;
	height: 50%;
}

img#goBack{
	z-index: 1;
	cursor: pointer;
	position:absolute;
	bottom: 30px;
	right: 30px;
	width: 80px;
	height: 80px;
	transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

img#goBack:hover {
	transform: scale(1.1); /* 이미지를 10% 확대 */
}


div#profileBox {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#profile {
	background-color: rgba(90, 93, 106, 0.05);
	border-radius: 20px;
	width: 85%;
	height: 85%;
	display: flex;
}

div#profile-left {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

div#profile-right {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

div#profileHeaderBox {
	margin-top: 50px;
	height: 10%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#profileHeader {
	font-weight: 900;
	color:#31363F;
    font-size: 3.0rem;
    width: 300px;
    height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#profile-edit {
	margin-top: 20px;
	height: 10%;
	width: 100%;
}

div#profile-edit-button {
	margin-left: 30px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	width: 70px;
	height: 32px;
	border-radius: 10px;
	background-color: #31363F;
	color: rgb(244, 244, 244);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 기본 상태에서 그림자 없음 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

div#profile-edit-button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* 호버 시 더 깊은 그림자 */
    transform: translateY(-2px); /* 살짝 위로 이동 */
}


div#userInfo {
	width: 80%;
	height: 70%;
	margin-top: 20px;
	background-color: rgba(137, 137, 141, 0.1);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


div#profileUserName {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

span#profileNick{
	font-size: 2.5rem;
	font-weight: 700;
	color:#31363F;
}

div#profileImgBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img#profileImg {
	border-radius: 20px;
	width: 70%;
	height: 80%;
}

div#match {
	margin-top: 70px;
	margin-left: 30px;
	width: 85%;
	height: 80%;
	background-color: rgba(137, 137, 141, 0.1);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#matchInfo {
	margin-top: 15px;
	border-radius: 10px;
	width: 95%;
	height: 21%;
	min-height: 115px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#winRateCircle {
	margin-left: 30px;
	font-family: Arial, sans-serif;
	position: relative;
	width: 100px;
	height: 100px;
}

canvas.winRateCircle {
	position: absolute;
	width: 100px;
	height: 100px;
}

#percentage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	font-weight: 700;
	color: #31363F;
}

span#win {
	color: #4074e0;
	font-size: 30px;
	font-weight: 700;
	margin-left: 30px;
}

span#lose {
	color: #e74c3c;
	font-size: 30px;
	font-weight: 700;
	margin-left: 5px;
}

span#winNum {
	color: #31363F;
	font-size: 30px;
	font-weight: 700;
	margin-right: 10px;
}

span#loseNum {
	color: #31363F;
	font-size: 30px;
	font-weight: 700;
	margin-right: 5px;
}

span#rate {
	color: #31363F;
	font-size: 30px;
	margin-left: 10px;
	margin-right: 30px;
}

div#matchHistory {
	margin-top: 1%;
	width: 95%;
	height: 80%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

ul#matches {
	width: 100%;
	height: 98%; /* 높이를 고정하지 않고 부모 요소의 높이에 맞추기 위해 100%로 설정 */
	list-style-type: none;
	padding-left: 1%;
	padding-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	overflow-y: auto; /* 수직 스크롤 활성화 */
	border-radius: 20px;
}

li.matchComponent {
	border-radius: 10px;
	width: 100%;
	height: 120px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

li#winType {
	background-color: #D0E7FF;
	position: relative;
}

li#winType::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: #4A90E2; /* 진한 파란색 */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

li#loseType {
	background-color: #FFD6D6;
	position: relative; /* ::before 사용을 위한 상대적 위치 설정 */
}

li#loseType::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 10px;
	background-color: #E57373; /* 진한 빨간색 */
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


div#matchTime {
	min-width: 150px;
	width: 20%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

span#date {
	margin-bottom: 5px;
	width: 60%;
	height: 10%;
	font-weight: 700;
}

div#startTime {
	width: 80%;
	height: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 5px;
	font-size: 16px;
	color:#31363F;
	font-weight: 700;
}

div#playTime {
	width: 60%;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color:#656262;
	padding-top: 5px;
	font-weight: 700;
	border-top: 0.5px solid #31363F;
}


div#matchOp {
	margin-right: 30px;
	padding-left: 5%;
	width: 10%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

span#vs{
	font-size: 30px;
	font-weight: 800;
	margin-right: 20px;
}

div#opImg {
	padding: 0;
	width: 35%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}


img#opImg {
	border-radius: 10px;
	width: 45%;
	height: 100%;
}

span.opNick{
	margin-right: 30px;
	font-size: 20px;
	font-weight: 700;
    color: #31363F;
    cursor: pointer;
}

span.opNick:hover {
	color: #f10000; /* 마우스를 올렸을 때 변경될 글자 색 */
}

div#matchScore {
	width: 20%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

span#myScorewin {
	font-size: 30px;
	font-weight: 700;
	color:rgb(20, 74, 188);
}

span#myScorelose {
	font-size: 30px;
	font-weight: 700;
	color:rgb(187, 23, 23)
}

span#vsSign {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
	font-weight: 600;
}

span#opScore {
	font-size: 30px;
	font-weight: 700;
}

div#edit-box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

div#editTitle {
	margin-bottom: 30px;
	margin-top: 30px;
	width: 30%;
	height: 10%;
	font-weight: 900;
	color:#31363F;
    font-size: 3.0rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


div#deleteButton {
	position: absolute;
	right: 30px;
	top: 30px;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	background-color: rgb(220, 53, 69); /* 약간 어두운 빨간색 */
	color: white;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

div#deleteButton:hover {
	background-color: rgb(128, 0, 0); /* 더 어두운 빨간색 */
	color: rgb(255, 204, 204); /* 약간의 핑크빛 흰색 */
}

div#deleteDoubleCheck {
	position: absolute;
	left: 50% - 250px;
	top: 200px; /* deleteButton 아래에 위치하도록 */
	width: 1100px;
	height: 400px;
	border-radius: 10px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 245, 245); /* 연한 배경색 */
	border: 2px solid rgb(220, 53, 69); /* 테두리를 약간 진한 빨간색으로 */
	z-index: 1;
}

div#deleteAlertMsg {
	margin-top: 20px;
	width: 80%;
	height: 50%;
	color: black;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div#deleteChoiceBox{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
	height: 30%;
}

#deleteMsgTitle {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 30px;
}

#deleteMsgBody {
	font-size: 20px;
	margin-bottom: 0;
}

#deleteMsgFooter {
	font-size: 14px;
	color: #856404;
	margin-top: 40px;
}

div#deleteYesButton, div#deleteNoButton {
	width: 80px;
	height: 40px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

div#deleteYesButton {
	background-color: rgb(220, 53, 69);
	color: white;
}

div#deleteYesButton:hover {
	background-color: rgb(128, 0, 0);
	color: rgb(255, 204, 204);
}

div#deleteNoButton {
	background-color: rgb(200, 200, 200);
	color: black;
}

div#deleteNoButton:hover {
	background-color: rgb(128, 128, 128);
	color: white;
}

div#editContents{
	z-index: 0;
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
}

div#prevProfile {
	min-height: 620px;
	width: 40%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#Arrow {
	background-color: white;
	width: 10%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img#arrowImg {
	width: 80px;
	height: 80px;
}

div#changedProfile {
	width: 40%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#presentNick {
	font-weight: 500;
    width: 30%;
	height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
	display: flex;
	align-items: center;
}

div#edit-nick{
	min-height: 80px;
	width: 100%;
	height: 12%;
	background-color: rgba(137, 137, 141, 0.1);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#edit-nick label {
    display: block;
	margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

#edit-nick input[type="text"] {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
	font-weight: 500;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

#edit-nick input[type="text"]:focus {
    border-color: #4A90E2;
    outline: none;
}

div#edit-img {
	min-height: 400px;
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(137, 137, 141, 0.1);
	border-radius: 20px;
	margin-top: 30px;
}

#image-preview {
	margin-bottom: 10px;
	text-align: center;
}

#url-upload-wrapper {
	margin-top: 10px;
	width: 300px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#url-upload-wrapper label {
	position: relative;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.profile-image-url {
	margin-top: 10px;
	width: 80%;
	height: 80%;
	cursor: pointer;
}

#presentImage {
	margin-top: 20px;
	width: 280px;
    height: 240px;
    object-fit: cover;
	border-radius: 10px;
}

#profile-image {
	margin-top: 20px;
	width: 280px;
    height: 240px;
    object-fit: cover;
	border-radius: 10px;
}

div#edit-2FA{
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(137, 137, 141, 0.1);
	border-radius: 20px;
	margin-top: 30px;
}

#edit-2FA label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

#edit-2FA input[type="checkbox"] {
	margin-left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button#profileChange {
	margin-top: 20px;
    width: 40%;
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#profileChange:hover {
    background-color: #357ABD;
}

div#error-box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

div#error-msg-box {
	width: 550px;
	height: 100%;
	display: flex;
	padding-left: 50px;
	flex-direction: column;
	justify-content: center;
}

h1#error-title {
	font-weight: 700;
	font-size: 50px;
}

h2#error-body {
	font-weight: 600;
	font-size: 40px;
}

p#error-code {
	font-size: 20px;
	font-weight: 300;
	color: #656262;
	margin-top: 20px;
}

div#error-img-box {
	width: 800px;
	height: 100%;
	margin-right: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

img#notFound {
	width: 700px;
	height: 700px;
}

div#goMainMenu {
	width: 200px;
	height: 70px;
	margin-top: 50px;
	border-radius: 10px;
	background-color: #31363F;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 30px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 기본 상태에서 그림자 없음 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
	cursor: pointer;
}

div#goMainMenu:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* 호버 시 더 깊은 그림자 */
    transform: translateY(-2px); /* 살짝 위로 이동 */
}

div#match-box {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

div#match-title {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	font-weight: 900;
	color:#31363F;
    font-size: 3.0rem;
	text-align: center;
}

div#matchingRotate {
	border-radius: 50%;
	background-color: #5b5775;
    width: 670px;
    height: 670px;
    position: absolute;
    top: calc(50% - 285px);
    left: calc(50% - 335px);
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

svg#blackParticle {
    position: absolute;
    top: 70px;
    left: 150px;
    animation: translate1 2s linear infinite;
}

svg#whiteParticle {
    position: absolute;
    bottom: 70px;
    right: 150px;
    animation: translate2 2s linear infinite;
}

svg#blackBall {
    position: absolute;
    top: 70px;
    left: 270px;
    animation: translate1 2s linear infinite;
}

svg#whiteBall {
    position: absolute;
    bottom: 70px;
    right: 280px;
    animation: translate2 2s linear infinite;
}

@keyframes translate1 {
    0% {
        transform: translate(0px, -10px);
    }
    50% {
        transform: translate(0px, 40px);
    }
    100% {
        transform: translate(0px, -10px);
    }
}

@keyframes translate2 {
    0% {
        transform: translate(0px, 10px);
    }
    50% {
        transform: translate(0px, -40px);
    }
    100% {
        transform: translate(0px, 10px);
    }
}

div#matchingText {
	border-radius: 50%;
	width: 275px;
	height: 275px;
	position: absolute;
	top: calc(50% - 85px);
	left: calc(50% - 135px);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: 500;
	color: white;
	background-color: #31363F;
	border: 2px solid white;
}

div#tournament-box {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div#tournament-title {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: 900;
	color:#31363F;
    font-size: 3.0rem;
	text-align: center;
	
}

div#tournament-body {
	width: 70%;
	height: 80%;
	background-color: rgba(90, 93, 106, 0.05);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#tournament-start-button-box {
	width: 90%;
	height: 10%;
	margin-top: 60px;
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin-bottom: 50px;
}

img#crown {
	width: 150px;
	height: 150px;
	position: absolute;
	left: calc(50% - 75px);
	top: -30px;
}

div#tournament-start-button {
	width: 150px;
	height: 70px;
	border-radius: 10px;
	background-color: #31363F;
	color: white;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	transition: box-shadow 0.3s ease, transform 0.3s ease;
	cursor: pointer;
}

div#tournament-start-button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* 호버 시 더 깊은 그림자 */
    transform: translateY(-2px); /* 살짝 위로 이동 */
}

div#tournament-players {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
}

div#tournament-nick {
	width: 200px;
	height: 80px;
	background-color: rgba(90, 93, 106, 0.05);
	border: 2px solid black;
	border-radius: 20px;
	color: black;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 160px;
	margin-left: 160px;
}

div#tournament-lines {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
}

div#tournament-line1 {
	width: 520px;
	height: 30px;
	background-color: rgba(90, 93, 106, 0);
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

div#tournament-line2 {
	width: 230px;
	height: 40px;
	background-color: rgba(90, 93, 106, 0);
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	margin-right: 145px;
	margin-left: 145px;
}

input.tournament-input {
	width: 200px;
	height: 80px;
	background-color: rgba(90, 93, 106, 0.05);
	border: 2px solid black;
	border-radius: 20px;
	color: black;
	font-size: 30px;
	margin-right: 15px;
	margin-left: 15px;
	text-align: center;
}

div#tournament-blank {
	width: 60px;
}