html, body, #app {
    margin: 0;
    padding: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
}

div#BG {
	height: 100%;
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
    z-index: 0;
}

/* 왼쪽 배경 */
div#leftBG {
    height: 100%;
    width: 50%;
    background-color: #F5F6FA; /* 연한 배경색 */
	display: flex;
	align-items: center;
}

div#leftBar{
	position: absolute;
	left: 30px;
	width: 30px;
	height: 35%;
	border-radius: 20px;
	background-color: #31363F;
}

/* 오른쪽 배경 */
div#rightBG {
    height: 100%;
    width: 50%;
    background-color: #31363F; /* 어두운 배경색 */
	display: flex;
	align-items: center;
}

div#rightBar{
	position: absolute;
	right: 30px;
	width: 30px;
	height: 35%;
	background-color: #F5F6FA;
	border-radius: 20px;
}

div#centerBG {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column;
	align-items: center;
	z-index: 1;
}


div#topBG {
	position: relative;
	height: 50%;
	width: 35%;
	background-color: #F5F6FA;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

div#bottomBG {
	position: relative;
	height: 50%;
	width: 35%;
	background-color: #31363F;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

div#margin {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
	align-items: center;
	justify-content: center;
	z-index: 2;
}

div#border {
	width: 75%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	background-color: black;
}

div#contents {
	width: 96%;
	height: 92%;
	border-radius: 40px;
	background-color: #FFFFFF;	
}

svg#topParticle {
	position: absolute;
	top: 20px;
	right: 185px;
}


svg#bottomParticle {
	position: absolute;
	bottom: 20px;
	left: 185px;
}

svg#topBall {
	position: absolute;
	top: 20px;
	right: 40px;
}

svg#bottomBall {
	position: absolute;
	bottom: 20px;
	left: 40px;
}

div#loginBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

p#login {
	color: #848484;
	text-align: center;
	font-family: Inter, sans-serif; /* 폰트가 적용되지 않을 경우를 대비한 대체 폰트 */
	font-size: 96px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 50px;
	padding-left: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, font-weight 0.3s ease; /* 부드러운 전환 효과 */
}

p#login:hover {
    transform: scale(1.05); /* 크기 5% 확대 */
    font-weight: 500; /* 폰트 두께 증가 */
}


div#menuBox {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul#gameMenu{
	width: 100%;
	height: 50%;
	text-align: center;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;
}

li.gameMode{
	margin-left: 1%;
	margin-right: 1%;
    width: 250px;
    height: 230px;
    font-size: 2.7rem;
    border-radius: 30%;
    color: white;
    cursor: pointer;
	text-align: center;
	background: linear-gradient(to bottom right, #5A5D6A, #31363F);
	display: flex;
	align-items: center; 
	justify-content: center;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 기본 상태에서 그림자 없음 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

li.gameMode:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* 호버 시 더 깊은 그림자 */
    transform: translateY(-5px); /* 살짝 위로 이동 */
}

ul#userMenu{
	width: 100%;
	height: 30%;
	text-align: center;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 30%;
	padding-right: 30%;
	padding-bottom: 5%;
}

li.showInfo{
	margin-left: 1%;
	margin-right: 1%;
    width: 120px;
    height: 120px;
	border-radius: 50%;
    font-size: 2rem;
    color: #31363F;
    cursor: pointer;
	text-align: center;
	display: flex;
	align-items: center; 
	background-color: #F5F6FA;
	justify-content: center;
	border-bottom: 2px solid #31363F;
	border-right: 1px solid #31363F;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 기본 상태에서 그림자 없음 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

li.showInfo:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 마우스를 올렸을 때 그림자 효과 */
    transform: translateY(-5px); /* 위로 5px 이동 */
}

div#friendsBox {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#friendsWindow{
	margin-top: 1%;
	width: 60%;
	height: 90%;
	border-radius: 50px;
	background-color: rgba(90, 93, 106, 0.05);
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#friendsMenu {
	margin-top: 15px;
	margin-right: 0;
	width: 80%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

p#friendsMenu {
	font-weight: 700;
	color:#31363F;
    width: 200px;
    height: 100%;
    font-size: 2rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#friendsList{
	margin-top: 10px;
	margin-right: 0;
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div#friendsEdit {
	width: 90%;
	height: 25%;
	display: flex;
}

div.friendsEdit{
	margin-top: 30px;
	margin-left: 25px;
	border-radius: 20px;
	width: 120px;
	height: 50px;
    font-size: 1.5rem;
	color: #848484;
	text-align: center;
    cursor: pointer;
	display: flex; /* Flexbox 활성화 */
	align-items: center; /* 수직 중앙 정렬 */
	justify-content: center; /* 수평 중앙 정렬 */
	transition: background-color 0.3s ease; /* 배경색 전환을 부드럽게 */
}

div.friendsEdit:hover {
    background-color: #4B4E5A; /* 마우스를 올렸을 때의 배경색 */
    color: white; /* 선택 사항: 텍스트 색 변경 */
}

div#friendsBody{
	margin-top: 20px;
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
}

div#friendsList{
	margin-top: 0;
	margin-right: 20px;
	border-radius: 20px;
	background-color: rgba(70, 73, 86, 0.1);
	width: 30%;
	height: 100%;
}


div#friendsInfo{
	border-radius: 20px;
	background-color: rgba(70, 73, 86, 0.1);
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

ul#friendsLists{
	width: 90%;
	height: 100%;
	max-height: 350px; /* 최대 높이를 설정하여 스크롤을 활성화 */
	overflow-y: auto; /* 세로 스크롤 활성화 */
	text-align: center;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* 리스트 항목을 위쪽으로 정렬 */
	align-items: center;
	padding-left: 0;
}

li.fList{
	margin-top: 2%;
	margin-bottom: 2%;
    width: 80%;
    height: 10%;
	font-weight: 700;
    font-size: 1.4rem;
    color: #31363F;
    cursor: pointer;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;	
}

li.fList:hover {
	color: #f10000; /* 마우스를 올렸을 때 변경될 글자 색 */
}

div#onlineInfo {
	position: relative;
	width: 80%;
	height: 20%;
	display:flex;
	align-items: center;
	justify-content: center;
}

div#online{
	margin-top: 30px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	position:absolute;
	top: 10px;
	left: 10px;
	background-color: rgb(52, 240, 86);
}

div#offline{
	margin-top: 30px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	position:absolute;
	top: 10px;
	left: 10px;
	background-color: rgb(116, 116, 116);
}

div#friendNick{
	margin-top: 30px;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 30px;
	font-weight: 700;
	color:#31363F;
	flex-shrink: 1; /* 플렉스 항목이 축소되도록 설정 */
}

div#friendImage {
	width: 80%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img#friendImage {
	border-radius: 10px;
	width: 300px;
	height: 300px;
}

div.goProfile {
	margin-bottom: 10px;
	border-radius: 20px;
	width: 120px;
	height: 50px;
	font-size: 1.5rem;
	font-weight: 600;
	color: #31363F;
	text-align: center;
    cursor: pointer;
	display: flex; /* Flexbox 활성화 */
	align-items: center;
	justify-content: center; /* 수평 중앙 정렬 */
}

div.goProfile:hover {
    background-color: #4B4E5A; /* 마우스를 올렸을 때의 배경색 */
    color: white; /* 선택 사항: 텍스트 색 변경 */
}

div#search {
	margin-top: 30px;
	width: 60%;
	height: 50px;
	display: flex;
	justify-content: right;
	align-items: center;
}

div#inputBox {
	margin-top: 10px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
    align-items: flex-end; /* 요소들을 오른쪽으로 정렬 */
}

span#addInputAlert {
	margin-right: 20px;
	color: red;
	font-size: 10px;
}

span#removeInputAlert {
	margin-right: 20px;
	color: red;
	font-size: 10px;
}

input#addInput {
	width: 180px;
	height: 30px;
	margin-right: 20px;
}

img#addInputImage {
	margin-right: 30px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

img#addInputImage:hover {
	transform: scale(1.1); /* 이미지를 10% 확대 */
}

input#removeInput {
	width: 180px;
	height: 30px;
	margin-right: 20px;
}

img#removeInputImage {
	margin-right: 40px;
	cursor: pointer;
	width: 30px;
	height: 40px;
	border-radius: 20px;
	transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

img#removeInputImage:hover {
	transform: scale(1.1); /* 이미지를 10% 확대 */
}

div#defaultImgBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img#friendDefaultImg {
	width: 50%;
	height: 50%;
}

img#goBack{
	cursor: pointer;
	position:absolute;
	bottom: 50px;
	right: 50px;
	width: 80px;
	height: 80px;
	transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

img#goBack:hover {
	transform: scale(1.1); /* 이미지를 10% 확대 */
}
