html, body, #app {
    margin: 0;
    padding: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
}

div#BG {
	height: 100%;
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
    z-index: 0;
}

/* 왼쪽 배경 */
div#leftBG {
    height: 100%;
    width: 50%;
    background-color: #F5F6FA; /* 연한 배경색 */
	display: flex;
	align-items: center;
}

div#leftBar{
	position: absolute;
	left: 30px;
	width: 30px;
	height: 35%;
	border-radius: 20px;
	background-color: #31363F;
}

/* 오른쪽 배경 */
div#rightBG {
    height: 100%;
    width: 50%;
    background-color: #31363F; /* 어두운 배경색 */
	display: flex;
	align-items: center;
}

div#rightBar{
	position: absolute;
	right: 30px;
	width: 30px;
	height: 35%;
	background-color: #F5F6FA;
	border-radius: 20px;
}

div#centerBG {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column;
	align-items: center;
	z-index: 1;
}


div#topBG {
	position: relative;
	height: 50%;
	width: 35%;
	background-color: #F5F6FA;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

div#bottomBG {
	position: relative;
	height: 50%;
	width: 35%;
	background-color: #31363F;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

div#margin {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
	align-items: center;
	justify-content: center;
	z-index: 2;
}

div#border {
	width: 75%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	background-color: #000000;
}

div#contents {
	width: 96%;
	height: 92%;
	border-radius: 40px;
	background-color: #FFFFFF;	
}

svg#topParticle {
	position: absolute;
	top: 20px;
	right: 185px;
}


svg#bottomParticle {
	position: absolute;
	bottom: 20px;
	left: 185px;
}

svg#topBall {
	position: absolute;
	top: 20px;
	right: 40px;
}

svg#bottomBall {
	position: absolute;
	bottom: 20px;
	left: 40px;
}

div#loginBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

p#login {
	color: #848484;
	text-align: center;
	font-family: Inter;
	font-size: 96px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 50px;
	padding-left: 50px;
}

div#menuBox {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#smallMenu{
	width: 100%;
	height: 35%;
	display: flex;
	justify-content: center;
}

div#bigMenu{
	width: 100%;
	height: 65%;
	display: flex;
	justify-content: center;
}

div#FriendsMenu{
	width: 
}